html{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}
header{
    height: 69px;
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    align-items: center;
}
#logo{
    height: 50px;
    width: auto;
    margin-left: 10px;
}
.navbar{
    display: inline-flex;
    width: 25%;
    justify-content: space-around;
}
nav{
    display: flex;
    justify-content: space-between;
}
.navbar li{
    list-style: none;
    text-decoration: underline;
    margin: 0px 25%;
}
#mission{
    height: 700px;
    width: 1200px;
    position: relative;
    left: 17.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/resources/images/img-mission-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin: 1%;
}
h2,h4,h5{
    display: block;
    background-color: black;
    width: 100%;
    text-align: center;
    margin: 0;

}
#tea{
    position: relative;
    top: 1.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.items{
    max-width:300px ;
    max-height: 200px;
    margin: 0;
}
figure{
    margin: 0px;
    padding: 0px;
}
figcaption{
    margin-top: 10px;
    width: 300px;
    text-align: center;
}
.secondary-flex{
    width: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#second{
    justify-content: center;
}
#second > figure{
    margin: 25px;
}
/* -------------------------Locations--------------------------- */
#locations{
    height: 500px;
    width: 1200px;
    position: relative;
    left: 17.5%;
    background-image: url('/resources/images/img-locations-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2.5%;
}
#loc-head{
    background-color: transparent;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    top: 12%;
}
.containers{
    width: 300px;
    height: 290px;
    background-color: black;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loc-info{
    padding: 0;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 15%;
}
/* ------------------------------footer------------------------------ */
.contact{
    margin: 5px 10px;
}
footer > p{
    position: relative;
    left: 20px;
}